@using Comercializacion.Client.Common
<nav id="main-nav">
    <ul>
        @*<li><a class="hvr-sweep-to-top" href="@Url.Action("PorqueExpositor","Home")">@SessionManager.GetText("ACC_Home_Expo")</a></li>
        <li><a class="hvr-sweep-to-top" href="@Url.Action("PorquePatrocinador","Home")">@SessionManager.GetText("ACC_Home_Partner")</a></li>*@
        @*<li><a class="hvr-sweep-to-top" href="">Beneficios comerciales</a></li>*@
        <li><a class=""hvr-sweep-to-top" href="@Url.Action("Mapa","Home")">Plano</a></li>
        @*<li><a class="hvr-sweep-to-top" href="">Folleto</a></li>*@
        @*<li><a href="#0">Manual</a></li>*@
    </ul>
</nav>
